
body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    line-height: 1.5em;
}

.working-margins {
    max-width: 960px;
    margin: auto;
}

.extended-margins {
    max-width: 1440px;
    margin: auto;
}

.gallery-margins {
    max-width: 2048px;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin: 1em;
    line-height: 1.5em;
}

#page-head {
    text-shadow: 1px 0 #db3eb1,-1px 0 #41b6e6;
    /* font-weight: bolder; */
    font-family: monospace;
}


h2 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    text-align: left;
    font-weight: bold;
}

.project-header {
    text-align: left;
}

p {
    text-align: left;
    margin-bottom: 1em;
}

.p-centered {
    text-align: center;
}

.logos {
    width: 60px;
    float: center;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.linkedin {
    width: 75px;
}

/* Line IDs */
#line-home {
    max-width: 190px;
    color: #b33745;
}

/* Line splitting in instruction block */
.splits {
    border: 4px thick black;
}

hr {
    margin-bottom: 0.5em;
    color: grey;
}

.container {
    height: 300px;
    width: 100%;
}

#image-code {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

/* Menu */
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #222; */
    display: inline-block;
  }

.install-list {
list-style: none; /* Remove default bullets */
text-align: left;
}

.install-list li::before {
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: white; /* Change the color */
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1em; /* Also needed for space (tweak if needed) */
margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.instructions-list {
    text-align: left;
    list-style-type: decimal;
}
  
.menu-item {
    float: left;
  }
  
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 0.85em;
}

li a:hover {
background-color: #111;
}

/* Text input boxes */
input[type=text] {
    /* display: block; */
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 7px;
    text-align: center;
}

button[type=submit] {
background-color: #555555;
border: none;
color: white;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.card {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    color: white;

}

.project-title {
    text-align: left;
    /* color: #f4d676; */
    color: #f4d676;
    text-decoration-line: underline;
}

.card:hover {
    border-color: white;
    cursor: pointer;
}

/* Hyperlink colour*/
a {
    color: #6666FF;
}

.gif {
    width: 100%;
    border: 2px solid;
    border-color: #1c1c14;
    padding: 5px;
}

/* Paragraph sentence to move away from requirments list. */
.project-source {
    margin-top: 1em;
}

/* Styling instructions */
.instruction-block {
    background-color: #939799;
    padding: 2em;
    border-radius: 5px;
    font-family: monospace;
    font-size: 18px;
    color: black;
}

/* Photography styling */
.containerX {
    position: relative;
    /* width: 0%; */
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .containerX:hover .image {
    opacity: 0.3;
  }
  
  .containerX:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .photo {
      width: 100%;
      border-style: solid;
      border-width: 10px;
      border-color: white;
      margin-bottom: 2em;
  }

.photo-divider {
    max-width: 400px;
    background-color: #5E5E5E;
    height: 2px;
    margin-bottom: 2.5em;
    /* border-radius: 20px; */
}




