
body {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    line-height: 1.5em;
}

.working-margins {
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin: 1em;
    line-height: 1.5em;
}


h2 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

.logos {
    width: 60px;
    float: center;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.linkedin {
    width: 75px;
}

hr {
    max-width: 170px;
}

.container {
    height: 150px;
    width: 100%;
}

#image-code {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #222; */
    display: inline-block;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.85em;
  }
  
  li a:hover {
    background-color: #111;
  }

  /* Text input boxes */
  input[type=text] {
      /* display: block; */
      box-sizing: border-box;
      padding: 12px 20px;
      margin: 7px;
      text-align: center;
  }

  button[type=submit] {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

